{include file="header" title="分类" }
<!--loading页结束-->
	<body>
		<!--header star-->
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <div class="top-sch-box flex-col">
	            <div class="centerflex">
	                <i class="fdj iconfont icon-sousuo"></i>
	                <input type="text" name="" id="" value="" class="sch-txt" placeholder="输入您要搜索的商品" />
	            </div>
	        </div>
	        <a class="btn" href="#">
	            <i class="iconfont icon-erweima"></i>
	        </a>
	    </header>
	    <!--header end-->
	    
	    <div class="warp clearfloat">
	    	<!--cation star-->
		    <div class="cations clearfloat">
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">家居家纺</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">3C数码</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">家用电器</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">厨房小电</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">零食小吃</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">酒水饮料</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">个护健康</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">生活电器</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">服饰</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    	<div class="list clearfloat fl">
		    		<a href="{:url('index/list')}">
			    		<p class="tit over box-s">五金家装</p>
			    		<div class="tu">
			    			<img src="__IMAGE__/18.jpg"/>
			    		</div>
		    		</a>
		    	</div>
		    </div>
		    <!--cation end-->
	    </div>	    
	    
	    <!--footer star-->
		{include file="bottom"  }
		<!--footer end-->
	</body>
{include file="footer"  }
