{include file="header" title="联盟商家" }
<!--loading页结束-->
	<body>
		<!--header star-->
		<header class="mui-bar mui-bar-nav" id="header">
			<a class="btn btn1 slide-menu" href="#">
				合肥
	            <i class="iconfont icon-xiala"></i>
	        </a>
	        <div class="top-sch-box flex-col">
	            <div class="centerflex">
	                <i class="fdj iconfont icon-sousuo"></i>
	                <input type="text" name="" id="" value="" class="sch-txt" placeholder="输入您要搜索的商品" />
	            </div>
	        </div>
	        <a class="btn btn1" href="#">
	            <i class="iconfont icon-yonghuming"></i>
	        </a>
	    </header>
	    <!--header end-->
	    
	    <div class="warp warpthree clearfloat">
	    	<div class="lianmeng clearfloat">
	    		<div class="top clearfloat">
	    			<ul>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/meishi.png" />
	    						<p>美食</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/jiudian.png" />
	    						<p>酒店</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/xiuxian.png" />
	    						<p>休闲娱乐</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/dianying.png" />
	    						<p>电影</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/fushi.png" />
	    						<p>服饰</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/yundong.png" />
	    						<p>运动健身</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<img src="__IMG__/ktv.png" />
	    						<p>KTV</p>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="{:url('index/sjfenlei')}">
	    						<img src="__IMG__/dangao.png" />
	    						<p>商家分类</p>
	    					</a>
	    				</li>
	    			</ul>
	    		</div>
	    		<div class="middle clearfloat">
	    			<div class="left clearfloat fl">
	    				<p class="tit box-s over">7.28特惠美食</p>
	    				<p class="fu-tit box-s over">限时抢购</p>
	    				<img src="__IMAGE__/23.jpg"/>
	    			</div>
	    			<div class="right clearfloat fl">
	    				<div class="shang clearfloat">
	    					<div class="zuo clearfloat fl">
	    						<p class="tit box-s over">手机数码</p>
		    					<p class="fu-tit box-s over">小米Max 6.44吋大屏</p>
	    					</div>
	    					<div class="tu clearfloat fr">
	    						<img src="__IMAGE__/24.jpg"/>
	    					</div>		    				
	    				</div>
	    				<div class="shang clearfloat">
	    					<div class="zuo clearfloat fl">
	    						<p class="tit box-s over">美容护肤</p>
		    					<p class="fu-tit box-s over">拉杜蓝乔葡萄籽油</p>
	    					</div>
	    					<div class="tu clearfloat fr">
	    						<img src="__IMAGE__/25.jpg"/>
	    					</div>		    				
	    				</div>
	    			</div>
	    		</div>
	    		<div class="bottom clearfloat">
	    			<p class="tit box-s">猜你喜欢</p>
	    			<div class="content clearfloat box-s">
	    				<div class="list clearfloat fl">
							<a href="{:url('index/sjdetail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
							<a href="{:url('index/sjdetail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/sjdetail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>    
	    
	</body>
</html>
