{include file="header" title="列表" }
<!--loading页结束-->
	<body>
		<!--header star-->
	    <header class="mui-bar mui-bar-nav" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <div class="top-sch-box flex-col">
	            <div class="centerflex">
	                <i class="fdj iconfont icon-sousuo"></i>
	                <input type="text" name="" id="" value="" class="sch-txt" placeholder="输入您要搜索的商品" />
	            </div>
	        </div>
	        <a class="btn" href="#">
	            <i class="iconfont icon-gouwuche"></i>
	            <span>2</span>
	        </a>
	    </header>
		<!--header end-->
		
		<div class="warp clearfloat">
			<div class="lists clearfloat">
				<div class="top clearfloat">
					<ul>
						<li>默认</li>
						<li>价格<i class="iconfont icon-xiala"></i></li>
						<li>销量<i class="iconfont icon-xiala"></i></li>
					</ul>
				</div>
				<div class="bottom clearfloat">
					<div class="lie clearfloat">
						<a href="{:url('index/detail')}">
							<div class="tu clearfloat fl">
								<img src="__IMAGE__/20.jpg"/>
							</div>
						</a>
						<div class="right clearfloat fl">
							<a href="{:url('index/detail')}">
								<p class="tit">美国阿拉斯加黑鳕鱼（冻黑鳕鱼）</p>
							</a>
							<div class="xia clearfloat">
								<a href="{:url('index/detail')}">
									<p class="jifen fl over">2998购物币+700积分</p>
								</a>
								<span class="fr db"><img src="__IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<a href="{:url('index/detail')}">
							<div class="tu clearfloat fl">
								<img src="__IMAGE__/20.jpg"/>
							</div>
						</a>
						<div class="right clearfloat fl">
							<a href="{:url('index/detail')}">
								<p class="tit">美国阿拉斯加黑鳕鱼（冻黑鳕鱼）</p>
							</a>
							<div class="xia clearfloat">
								<a href="{:url('index/detail')}">
									<p class="jifen fl over">2998购物币+700积分</p>
								</a>
								<span class="fr db"><img src="__IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<a href="{:url('index/detail')}">
							<div class="tu clearfloat fl">
								<img src="__IMAGE__/20.jpg"/>
							</div>
						</a>
						<div class="right clearfloat fl">
							<a href="{:url('index/detail')}">
								<p class="tit">美国阿拉斯加黑鳕鱼（冻黑鳕鱼）</p>
							</a>
							<div class="xia clearfloat">
								<a href="{:url('index/detail')}">
									<p class="jifen fl over">2998购物币+700积分</p>
								</a>
								<span class="fr db"><img src="__IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<a href="{:url('index/detail')}">
							<div class="tu clearfloat fl">
								<img src="__IMAGE__/20.jpg"/>
							</div>
						</a>
						<div class="right clearfloat fl">
							<a href="{:url('index/detail')}">
								<p class="tit">美国阿拉斯加黑鳕鱼（冻黑鳕鱼）</p>
							</a>
							<div class="xia clearfloat">
								<a href="{:url('index/detail')}">
									<p class="jifen fl over">2998购物币+700积分</p>
								</a>
								<span class="fr db"><img src="__IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
					<div class="lie clearfloat">
						<a href="{:url('index/detail')}">
							<div class="tu clearfloat fl">
								<img src="__IMAGE__/20.jpg"/>
							</div>
						</a>
						<div class="right clearfloat fl">
							<a href="{:url('index/detail')}">
								<p class="tit">美国阿拉斯加黑鳕鱼（冻黑鳕鱼）</p>
							</a>
							<div class="xia clearfloat">
								<a href="{:url('index/detail')}">
									<p class="jifen fl over">2998购物币+700积分</p>
								</a>
								<span class="fr db"><img src="__IMG__/jia.png"/></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		<!--footer star-->
		{include file="bottom"  }
		<!--footer end-->
	</body>
{include file="footer"  }
