{include file="head" title="商家分类" }
<!--loading页结束-->
	<body>
		<!--header star-->
		<header class="mui-bar mui-bar-nav mui-bar-nav2" id="header">
			<a class="btn" href="javascript:history.go(-1)">
	            <i class="iconfont icon-fanhui"></i>
	        </a>
	        <div class="top-sch-box top-sch-boxtwo top-sch-boxfour flex-col">
	                      商家分类
	        </div>
	   </header>
	    <!--header end-->
	    
	    <div class="warp warpthree clearfloat">
	    	<div class="sjfenlei clearfloat">
	    		<div class="top clearfloat">
	    			<ul>
	    				<li>
	    					<a href="#">
	    						美食
	    						<i class="iconfont icon-xiala1"></i>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						全城
	    						<i class="iconfont icon-xiala1"></i>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						默认排序
	    						<i class="iconfont icon-xiala1"></i>
	    					</a>
	    				</li>
	    				<li>
	    					<a href="#">
	    						<input type="text" name="" id="" value="" placeholder="搜索" />
	    						<i class="iconfont icon-sousuo"></i>
	    					</a>
	    				</li>
	    			</ul>
	    		</div>
	    		<div class="bottom clearfloat">
	    			<div class="content clearfloat box-s">
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/detail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/detail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/detail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/detail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/detail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    				<div class="list clearfloat fl">
	    					<a href="{:url('index/detail')}">
		    					<div class="tu clearfloat fl ra5">
		    						<span></span>
		    						<img src="__IMAGE__/26.jpg"/>
		    					</div>
		    					<div class="nr clearfloat fr">
		    						<p class="bt over">肯德基宅急送（高薪合家福点）</p>
		    						<p class="fu-tit">麦辣鸡腿堡套餐，建议单人使用</p>
		    					</div>
	    					</a>
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>	    
	    
	</body>
</html>
