{include file="head" title="登录" }

<!--loading页结束-->
	<body>
		<div class="login clearfloat box-s">
			<h3>会员登录</h3>
			<div class="list clearfloat">
				<ul>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-yonghuming"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="user" value="{$arr.user_name}" placeholder="用户姓名" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-mima"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="password" name="" id="pwd" value="" placeholder="登录密码" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-yanzhengma"></i>
						</p>
						<div class="nr nrtwo clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="code" value="" placeholder="验证码" />
							<samp class="db fr" >
								<img  style="height: 100%;width: 100%;" id="my_code"  src="{:captcha_src()}" alt="captcha" />
							</samp>
						</div>
					</li>
				</ul>
			</div>
			<div class="mima clearfloat">
				<ul>
					<li class="fl">
						<div class="xuan clearfloat fl">
		    				<div class="radiofour" > 
							    <label>
							        <input type="checkbox" name="" value="" />
							        <div class="option"></div>
							        <span class="opt-text">记住密码</span>
							    </label>
							</div>
		    			</div>
					</li>
					<li class="fr">
						<a href="{:url('Login/verification')}">找回密码？</a>
					</li>
				</ul>
			</div>
			<div class="login-btn">
				<a id="login">
					登录
				</a>
				<a href="{:url('Login/register')}">
					<span class="opa5"></span>
					<samp>注册</samp>
				</a>
			</div>
		</div>
	</body>
<script>
	//登录验证
	$('#login').click(function () {
		var user=$('#user').val()
		var pwd=$('#pwd').val()
		var code=$('#code').val()
		$.ajax({
			url:"{:url('login/loginAction')}",
			data:{
				user:user,
				pwd:pwd,
				code:code,
			},
			type:'post',
			dataType:'json',
			success:function (res) {
				if (res.code==1){
					//showBo.js弹框特效，验证码错误提示框，下面是验证码错误，验证码图片刷新
					Showbo.Msg.alert(res.message)
					$('#my_code').attr('src','{:captcha_src()}?'+Math.random())
				}
				if (res.code==2){
					//showBo.js弹框特效，用户名或密码错误提示框，验证码图片刷新
					Showbo.Msg.alert(res.message)
					$('#my_code').attr('src','{:captcha_src()}?'+Math.random())
				}
				if (res.code==0){
					window.location.href="{:url('user/center')}"
				}
			}
		})
	})
</script>
</html>
