{include file="header" title="注册" }
<!--loading页结束-->
	<body>
		<div class="login clearfloat box-s">
			<h3>会员注册</h3>
			<div class="list clearfloat">
				<ul>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-yonghuming"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="" value="" placeholder="用户姓名" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-mima"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="" value="" placeholder="登录密码" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-shouji"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="" value="" placeholder="联系电话" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-shenfenzheng"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="" value="" placeholder="身份证号" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-tuijianrenyaoqing"></i>
						</p>
						<div class="nr clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="" value="" placeholder="推荐人账户" />
						</div>
					</li>
					<li class="ra3">
						<p class="fl clearfloat">
							<span class="opa5"></span>
							<i class="iconfont icon-yanzhengma"></i>
						</p>
						<div class="nr nrtwo clearfloat fl">
							<span class="opa3"></span>
							<input type="text" name="" id="" value="" placeholder="验证码" />
							<samp class="db fr">0212</samp>
						</div>
					</li>
				</ul>
			</div>			
			<div class="login-btn">
				<a href="{:url('index/register')}">
					注册
				</a>
			</div>
			<div class="mima mimaone clearfloat">
				<ul>
					<li class="fr">
						<a href="{:url('Login/login')}">立即登录</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>
