{include file="header" title="会员须知" }
<!--loading页结束-->
	<body>
		<div class="login logintwo clearfloat box-s">
			<h3>会员须知</h3>
			<div class="xzcontent clearfloat box-s ra3">
				该等变更事项自公告中载明的生肖日期开始生效，消费者有权在公告期内选择是否同意该等变更事项。
				如消费者不接受该等变更事项，消费者应在公告中载明的生肖日期前种植使用积分，
				并按照规定办理销户手续。否则视为消费者同意该等变更事项，变更后的内容对消费者具有
				法律约束力。
			</div>			
			<div class="login-btn">
				<a href="{:url('User/center')}">
					本人已知晓上述各项条款，并登录平台
				</a>
				<a href="#" class="btn">
					<span class="opa5"></span>
					<samp>本人不同意，退出登录</samp>
				</a>
			</div>
		</div>
	</body>
</html>
