<footer class="page-footer fixed-footer" id="footer">
    <ul>
        <li>
            <a href="{:url('index/index')}">
                <i class="iconfont icon-shouye"></i>
                <p>商城</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="iconfont icon-erweima1"></i>
                <p>二维码</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="iconfont icon-kefu1"></i>
                <p>客服</p>
            </a>
        </li>
        <li class="active">
            <a href="{:url('User/center')}">
                <i class="iconfont icon-yonghuming"></i>
                <p>我的</p>
            </a>
        </li>
    </ul>
</footer>