{include file="header" title="购物车" }
	    <!--header end-->
	    
	    <div class="warp warptwo clearfloat">
	    	<div class="shopcar clearfloat">
	    		<div class="list clearfloat fl">
	    			<div class="xuan clearfloat fl">
	    				<div class="radio" > 
						    <label>
						        <input type="checkbox" name="sex" value="" />
						        <div class="option"></div>
						    </label>
						</div>
	    			</div>
	    			<a href="#">
		    			<div class="tu clearfloat fl">
		    				<span></span>
		    				<img src="__IMG__/19.jpg"/>
		    			</div>
		    			<div class="right clearfloat fl">
		    				<p class="tit over">小米Max全网通4G大屏智能手机</p>
		    				<p class="fu-tit over">颜色：金色  内存：1287G</p>
		    				<p class="jifen over">2998购物币+700积分</p>
		    				<div class="bottom clearfloat">
		    					<div class="zuo clearfloat fl">
		    						<ul>
		    							<li><img src="__IMG__/jian.png"/></li>
		    							<li>2</li>
		    							<li><img src="__IMG__/jia.png"/></li>
		    						</ul>
		    					</div>
		    					<i class="iconfont icon-lajixiang fr"></i>
		    				</div>
		    			</div>
	    			</a>
	    		</div>
	    		<div class="list clearfloat fl">
	    			<div class="xuan clearfloat fl">
	    				<div class="radio" > 
						    <label>
						        <input type="checkbox" name="sex" value="" />
						        <div class="option"></div>
						    </label>
						</div>
	    			</div>
	    			<a href="#">
		    			<div class="tu clearfloat fl">
		    				<span></span>
		    				<img src="__IMAGE__/19.jpg"/>
		    			</div>
		    			<div class="right clearfloat fl">
		    				<p class="tit over">小米Max全网通4G大屏智能手机</p>
		    				<p class="fu-tit over">颜色：金色  内存：1287G</p>
		    				<p class="jifen over">2998购物币+700积分</p>
		    				<div class="bottom clearfloat">
		    					<div class="zuo clearfloat fl">
		    						<ul>
		    							<li><img src="__IMG__/jian.png"/></li>
		    							<li>2</li>
		    							<li><img src="__IMG__/jia.png"/></li>
		    						</ul>
		    					</div>
		    					<i class="iconfont icon-lajixiang fr"></i>
		    				</div>
		    			</div>
	    			</a>
	    		</div>
	    		<div class="list clearfloat fl">
	    			<div class="xuan clearfloat fl">
	    				<div class="radio" > 
						    <label>
						        <input type="checkbox" name="sex" value="" />
						        <div class="option"></div>
						    </label>
						</div>
	    			</div>
	    			<a href="#">
		    			<div class="tu clearfloat fl">
		    				<span></span>
		    				<img src="__IMAGE__/19.jpg"/>
		    			</div>
		    			<div class="right clearfloat fl">
		    				<p class="tit over">小米Max全网通4G大屏智能手机</p>
		    				<p class="fu-tit over">颜色：金色  内存：1287G</p>
		    				<p class="jifen over">2998购物币+700积分</p>
		    				<div class="bottom clearfloat">
		    					<div class="zuo clearfloat fl">
		    						<ul>
		    							<li><img src="__IMG__/jian.png"/></li>
		    							<li>2</li>
		    							<li><img src="__IMG__/jia.png"/></li>
		    						</ul>
		    					</div>
		    					<i class="iconfont icon-lajixiang fr"></i>
		    				</div>
		    			</div>
	    			</a>
	    		</div>
	    		<div class="list clearfloat fl">
	    			<div class="xuan clearfloat fl">
	    				<div class="radio" > 
						    <label>
						        <input type="checkbox" name="sex" value="" />
						        <div class="option"></div>
						    </label>
						</div>
	    			</div>
	    			<a href="#">
		    			<div class="tu clearfloat fl">
		    				<span></span>
		    				<img src="__IMAGE__/19.jpg"/>
		    			</div>
		    			<div class="right clearfloat fl">
		    				<p class="tit over">小米Max全网通4G大屏智能手机</p>
		    				<p class="fu-tit over">颜色：金色  内存：1287G</p>
		    				<p class="jifen over">2998购物币+700积分</p>
		    				<div class="bottom clearfloat">
		    					<div class="zuo clearfloat fl">
		    						<ul>
		    							<li><img src="__IMG__/jian.png"/></li>
		    							<li>2</li>
		    							<li><img src="__IMG__/jia.png"/></li>
		    						</ul>
		    					</div>
		    					<i class="iconfont icon-lajixiang fr"></i>
		    				</div>
		    			</div>
	    			</a>
	    		</div>
	    	</div>
	    </div>
	    
	    <!--settlement star-->
	    <div class="settlement clearfloat">
	    	<div class="zuo clearfloat fl box-s">
	    		合计：<span>￥1420</span>
	    	</div>
	    	<a href="#" class="fl db">
	    		立即结算
	    	</a>
	    </div>
	    <!--settlement end-->
	    
		<!--footer star-->
		{include file="bottom"  }
		<!--footer end-->
	</body>
{include file="footer"  }