{include file="header" title="报单商品券" }
	    <!--header end-->
	    <div class="warp warpthree clearfloat">
	    	<div class="h-top h-toptwo clearfloat box-s">
	    		<p class="tu"><img src="img/touxiang.png"/></p>
	    		<p class="nr">王小王<span>普通会员</span></p>
	    	</div>
	    	<div class="recharge clearfloat">
	    		<div class="czhi clearfloat box-s">
	    			<p>报单金额</p>
	    			<input type="text" id="" value="" placeholder="请输入金额" />
	    			<span>元</span>
	    		</div>
	    		<div class="czhi clearfloat box-s" id='showUserPickerthree'>
	    			<p>支付方式</p>
	    			<i class="iconfont icon-xiala fr"></i>
	    		</div>
	    		<div class="czhi clearfloat box-s">
	    			<p>对方账户</p>
	    			<input type="text" id="" value="" placeholder="请输入对方账户" />
	    		</div>
	    		<div class="guize clearfloat box-s ra3">
	    			<h3>报单规则</h3>
	    			<div class="content clearfloat">
    				       安徽智迈科技股份有限公司成立于2009年。总部位于合肥市高新区，
    				       投资或控股近10余家企业。智迈是一家专注于互联网创新产品研发
    				       及技术服务解决方案的高新技术企业。
	    			</div>
	    		</div>
	    		<div class="bottom clearfloat">
	    			<a href="#" class="db fl btn ra3">确定</a>
	    			<a href="#" class="db fr btn ra3">取消</a>
	    		</div>
	    	</div>	    	
	    </div>
	</body>
		{include file="footer"}
