{include file="head" title="选择收货地址" }
<!--loading页结束-->
	<body>
		<header class="mui-bar mui-bar-nav report-header box-s" id="header">
			<a href="javascript:history.go(-1)"><i class="iconfont icon-fanhui fl"></i></a>
			<p>选择收货地址</p>
			<span class="fr baocun"><a href="{:url('user/address')}">管理</a></span>
	    </header>
	    <div id="main" class="mui-clearfix add-address choice-address">
	    	<div class="addlist clearfloat">
	    		<div class="top clearfloat box-s">
	    			<ul>
	    				<li>
	    					<span class="fl">孙瑾晨</span>
	    					<span class="fr">1303505****</span>
	    				</li>
	    				<li>
	    					<span class="moren">[默认地址]</span>安徽省合肥市蜀山区高新技术产业开发区合肥市高新区长江西路拓基城市广场金座A幢2002
	    				</li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="addlist clearfloat">
	    		<div class="top clearfloat box-s">
	    			<ul>
	    				<li>
	    					<span class="fl">孙瑾晨</span>
	    					<span class="fr">1303505****</span>
	    				</li>
	    				<li>
	    					安徽省合肥市蜀山区高新技术产业开发区合肥市高新区长江西路拓基城市广场金座A幢2002
	    				</li>
	    			</ul>
	    		</div>
	    	</div>
	    	<div class="addlist clearfloat">
	    		<div class="top clearfloat box-s">
	    			<ul>
	    				<li>
	    					<span class="fl">孙瑾晨</span>
	    					<span class="fr">1303505****</span>
	    				</li>
	    				<li>
	    					安徽省合肥市蜀山区高新技术产业开发区合肥市高新区长江西路拓基城市广场金座A幢2002
	    				</li>
	    			</ul>
	    		</div>
	    	</div>
	    </div>
	</body>
	<script type="text/javascript" src="__JS__/jquery-1.8.3.min.js" ></script>
	<script src="__JS__/fastclick.js"></script>
	<script src="__JS__/mui.min.js"></script>
	<script type="text/javascript" src="__JS__/hmt.js" ></script>
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
</html>
