{include file="header" title="我的好友" }
	    <!--header end-->
	    
	    <div class="warp warpthree clearfloat">
	    	<div class="h-top h-toptwo clearfloat box-s">
	    		<p class="tu"><img src="__IMG__/touxiang.png"/></p>
	    		<p class="nr">王小王<span>普通会员</span></p>
	    	</div>
	    	<div class="apply clearfloat">
	    		<div class="applylist clearfloat box-s">
	    			<p class="fl">
	    				1605789（王涛涛）
	    				<span>已激活</span>
	    			</p>
	    			<i class="iconfont icon-huiyuan fr"></i>
	    		</div>	    		
	    	</div>    	
	    </div>

<!--footer star-->
{include file="userFoot" }
<!--footer end-->
</body>
{include file="footer" }
