{include file="header" title="可用积分管理页" }
	    <!--header end-->
	    
	    <div class="warp warpthree clearfloat">
	    	<div class="account clearfloat">
	    		<div class="top clearfloat">
	    			<ul>
	    				<li class="box-s">操作时间</li>
	    				<li>进出账</li>
	    				<li>积分</li>
	    			</ul>
	    		</div>
	    		<div class="list clearfloat box-s">
	    			<div class="shang clearfloat">
	    				<ul>
		    				<li class="box-s">2016-07-22</li>
		    				<li>支出</li>
		    				<li>-300</li>
		    			</ul>
	    			</div>
	    			<div class="middle clearfloat">
	    				<ul>
	    					<li>单号：</li>
	    					<li>报单会员账户：</li>
	    					<li>报单方式：</li>
	    				</ul>
	    			</div>
	    			<div class="bottom clearfloat">
	    				<span class="fl">2016-07-10 13:29:47</span>
	    				<p class="fr">余额：74.00</p>
	    			</div>
	    		</div>	    		
	    	</div>
	    </div>	    
	
	</body>
{include file="footer"  }

