{include file="header" title="可用待转" }
	    <!--header end-->
	    <div class="warp warpthree clearfloat">
	    	<div class="h-top h-topone clearfloat box-s">
	    		<p>6985021</samp></p>
	    		<span>我的积分</span>
	    	</div>
	    	<div class="recharge clearfloat">
	    		<div class="czhi clearfloat box-s">
	    			<p>转换倍数</p>
	    			<input type="text" id="" value="" placeholder="请输入转换倍数" />
	    		</div>
	    		<div class="jfzy clearfloat">
	    			<ul>
	    				<li>注意事项：当前转换倍数为1:2，出账：40天至60天</li>
	    				<li>待用积分：0，转换后总额：0</li>
	    			</ul>
	    		</div>
	    		<div class="guize clearfloat box-s ra3">
	    			<h3>转换规则</h3>
	    			<div class="content contenttwo clearfloat">
    				    <ul>
    				    	<li>1、可用积分按比例转入待用积分，实时到账。</li>
    				    	<li>2、会员积分转帐收入的积分，已禁止转入待用积分倍增。</li>
    				    	<li>3、可倍增积分具体请看“中心-可倍增积分额值”</li>
    				    </ul>
	    			</div>
	    		</div>
	    		<div class="bottom clearfloat">
	    			<a href="#" class="db fl btn ra3">确定</a>
	    			<a href="#" class="db fr btn ra3">取消</a>
	    		</div>
	    	</div>  	
	    </div>
	</body>
{include file="footer" }
