{include file="header" title="会员中心" }
	    <!--header end-->
	    <div class="warp warpthree clearfloat">
	    	<div class="h-top h-toptwo clearfloat box-s">
	    		<p class="tu"><img src="__IMG__/touxiang.png"/></p>
	    		<p class="nr">王小王<span>普通会员</span></p>
	    	</div>
	    	<div class="apply clearfloat">
	    		<div class="top clearfloat">
	    			<ul>
	    				<li class="fl ra3">
	    					<i class="iconfont icon-jiahao1"></i>
	    					<p>添加营业执照</p>
	    				</li>
	    				<li class="fr ra3">
	    					<i class="iconfont icon-jiahao1"></i>
	    					<p>法人身份证</p>
	    				</li>
	    			</ul>
	    		</div>
	    		<div class="bottom clearfloat">
	    			<ul>
	    				<li>
	    					<div class="box-s clearfloat">
	    						<p>商家名称：</p>
	    						<input type="text" id="" value="" placeholder="" />
	    					</div>	    					
	    				</li>
	    				<li>
	    					<div class="box-s clearfloat">
	    						<p>商家地址：</p>
	    						<input type="text" id="" value="" placeholder="" />
	    					</div>	    					
	    				</li>
	    				<li>
	    					<div class="box-s clearfloat">
	    						<p>所属行业：</p>
	    						<input type="text" id="" value="" placeholder="" />
	    					</div>	    					
	    				</li>
	    				<li>
	    					<div class="box-s clearfloat">
	    						<p>联系电话：</p>
	    						<input type="text" id="" value="" placeholder="" />
	    					</div>	    					
	    				</li>
	    				<li>
	    					<div class="box-s clearfloat">
	    						<p>经验种类：</p>
	    						<input type="text" id="" value="" placeholder="" />
	    					</div>	    					
	    				</li>
	    				<li>
	    					<div class="box-s clearfloat">
	    						<p>商家描述：</p>
	    						<input type="text" id="" value="" placeholder="" />
	    					</div>	    					
	    				</li>
	    			</ul>
	    		</div>
	    		<a href="#" class="center-btn db ra3">提交</a>
	    	</div>    	
	    </div>
	</body>
{include file="footer" }