{include file="header" title="修改姓名" }
	    <!--header end-->
	    
	    <div class="warp warpthree clearfloat">
	    	<div class="h-top h-toptwo clearfloat box-s">
	    		<p class="tu"><img src="__IMG__/touxiang.png"/></p>
	    		<p class="nr">王小王<span>普通会员</span></p>
	    	</div>
	    	<div class="apply recharge clearfloat">
	    		<div class="appxiugai clearfloat">
	    			<ul>
	    				<li class="ra3 fl">
	    					<i class="iconfont icon-iconfontxingming fl"></i>
	    					<input type="text" name="" id="" value="" placeholder="长度为6至12个汉字" />
	    				</li>
	    			</ul>
	    		</div> 
	    		<div class="xia clearfloat">
	    			<a href="#" class="db fl btn ra3">确定</a>
	    			<a href="#" class="db fr btn ra3">取消</a>
	    		</div>
	    	</div>    	
	    </div>

<!--footer star-->
{include file="userFoot" }
<!--footer end-->
</body>
{include file="footer" }